<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueManager" value="queuemanager"/>
    <add key="ChannelName" value="SYSTEM.ADMIN.SVRCONN"/>
    <add key="ProtocolName" value="TCP"/>
    <add key="ConnectionName" value="192.168.10.221(1414)"/>    
    <add key="PutQueueName" value="omniIdQueue"/>
    <add key="GetQueueName" value="omniIdQueue"/>
  </appSettings>
</configuration>