<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueManager" value="queuemanager"/>
    <add key="ChannelName" value="SYSTEM.ADMIN.SVRCONN"/>
    <add key="ProtocolName" value="TCP"/>
    <add key="HostName" value="192.168.10.221"/>
    <add key="Port" value="1414"/>
    <add key="PutQueueName" value="omniIdQueue"/>
    <add key="GetQueueName" value="omniIdQueue"/>
    <add key="Username" value="jatin.kukreja"/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>